@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Inter:wght@200;400;900&family=Libre+Bodoni:ital,wght@1,600;1,700&family=Roboto&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300&family=Shadows+Into+Light&family=Vina+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Top NavBar */

.top-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #185981;
}

.top-navbar span {
    color: white;
    font-size: 12px;
}

.top-navbar div.dropdown-language button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 10px;
}

.top-navbar ul.dropdown-menu li {
    font-size: 12px;
}

.socials {
    display: flex;
    gap: 7px;
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.icon-container {
    display: flex;
    gap: 7px;
}

/* Bottom Nav */

nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

a.navbar-brand {
    font-weight: bolder;
    font-family: 'Libre Bodoni', serif;
    color: brown;
    font-size: 30px;
}

nav.navbar a.navbar-brand:hover {
    text-decoration: none;
    color: brown;
}

nav.navbar a {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

nav.navbar a:hover, a.nav-link.active:hover {
    color:#185981;
    text-decoration:overline;
}

nav.navbar a.active {
    font-weight:600;
    text-decoration: underline;
}

.dropdown-menu .dropdown-item {
    text-decoration: none;
    padding: 10px;
}

.container-fluid {
    padding: 5px;
    background-color: white;
    box-shadow: 3px 3px 3px rgb(147, 147, 147);
}

/* Search Form */

.d-flex {
    gap: 5px;
    margin-right: 10px;
}

.bi.bi-person, .bi.bi-cart3 {
    margin-top: 7px;
}

.search-icons input {
    border: 1px solid rgb(109, 107, 107);
    padding: 8px;
    border-radius: 4px;
    outline: none;
    height: 40px;
}

.search-icons input:focus {
    border-color:#185981;
    box-shadow: 0 0 3px #185981;
}

.search-icons button {
    background-color: rgb(233, 230, 230);
    border: none;
    padding: 0px 8px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
}

.search-icons button.btn img {
    height: 15px;
}

.search-icons button:hover {
    background-color:#185981;
}

/* SVG Icons */

.svg-container {
    position: relative;
}

.svg-container svg:hover {
    fill: #185981;
}

.badge {
    position: absolute;
    left: 10px;
    background-color: red;
    color: white;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    font-size: 13px;
    display: block;
    padding: 5px 10px;
}

.dropdown-container:hover svg {
    fill: #185981;
}

.dropdown-content a:hover {
      background-color: #f1f1f1;
}

/* Responsiveness*/

@media (max-width: 992px) {
    .navbar-toggler {
        order: -1;
    }

    .navbar-collapse {
        order: 0;
    }

    .search-icons {
        order: 1;
        margin-right: 0;
    }
}
@media (min-width: 768px) {
    .navbar {
        justify-content: flex-end;
    }

    .search-icons {
        order: 1;
        margin-right: 0;
    }
}


/* Contact Section */

#contact {
    position: relative;
    padding: 50px 100px;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 100px;
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contact-container .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-container .contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact-container .contact-info .box .icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #185981;
    border-radius: 50%;
    font-size: 22px;
    color: white;
}

.contact-container .contact-info .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}

.contact-container .contact-info .box a {
    text-decoration: none;
}

.contact-container .contact-info .box .text h3 {
    color: #185981;
    font-weight: 500;
}

.form-container {
margin-left: 50px;
}

#contact div.inquiries p {
    margin-bottom: 50px;
    margin-top: 50px;
}

.form-container input:focus, textarea.form-control:focus {
    border-color:#185981;
    box-shadow: 0 0 3px #185981;
}

input.form-control {
    border-radius: 0px;
}

textarea.form-control {
    border-radius: 0px;
}

.form-container div.submit{
    padding-top: 30px;
    border-radius: 0px;
}

.form-container div.submit .btn {
    color: white;
    background-color: #185981;
    font-weight: bold;
    padding: 10px 50px;
    border: none;
    border-radius: 0px;
}

.form-container div.submit .btn:hover {
    transition: background-color 0.3s, color 0.3s;
    background-color: white;
    color: #185981;
    border: 2px solid #185981;
}

@media (max-width: 898px) {
    #contact {
        margin: 0;
    }
    .contact-container {
        flex-direction: column;
        margin: 0;
    }
    .form-container {
        margin-left: 0px;
    }
}
@media (max-width: 998px) {
    #contact {
        margin: 0;
    }
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

footer p {
    margin-top: 30px;
    color: rgb(111, 108, 108);
    font-size: 13px;
}